.profile {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: url(../../assets/img/portraits/portrait-1.jpg);
    background-position-x: top;
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: optimizeQuality;
}

.profile > a {
    text-decoration: none;
    font-size: 16px;
    margin: 10px 0 20px 0;
}

.activities {
    width: 100%;
}

.activity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0px 5px 10px rgba(234, 234, 234, 0.5);
    cursor: default;
    margin-bottom: 10px;
}

.activity > .header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.activity-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 10px 15px;
}

#snorkeling {
    background: url(../../assets/img/snorkel.png);
}

#hiking {
    background: url(../../assets/img/hiking.png);
}

#kayaking {
    background: url(../../assets/img/kayaking.png);
}

#snorkeling,
#hiking,
#kayaking {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.activity-desc p {
    font-size: 16px;
}

.activity-desc .digit {
    font-size: 22px;
}

.pics {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pics-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left:-15px;
    border: 1.5px solid #fff;
}

.pics-icon {
    margin: 50px 15px;
    color: var(--gray);
}

.socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.socials > p {
    margin: 30px 0 10px 0;
}

.social-network {
    margin: 0 0 20px 0;
    color: var(--gray);
    font-size: 16px;
}

@media screen and (min-width: 1300px) {
    .right-section {
        position: relative;
        width: 30vw;
        height: 100vh;
        margin-right: 5vw;
    }

    .profile {
        position: absolute;
        right: 0;
        width: fit-content;
    }

    .profile-img {
        margin-bottom: 30px;
    }

    .profile > p {
        font-size: 35px;
    }

    .profile small {
        font-size: 20px;
    }

    .activities {
        position: relative;
        margin-top: 50vh;
    }

    .activity { 
        box-shadow: none;
        transition: all 250ms;
    }
    
    .activity:hover {
        box-shadow: 0px 5px 10px rgb(234, 234, 234);
        transform: translateX(-30px);
    }

    .socials {
        position: absolute;
        bottom: 80px;
        right: 0;
        width: 150%;
        /* transform: translateY(200%); */
        flex-direction: row;
        justify-content: flex-end;
    }
    
    .socials > p {
        margin: 0;
        margin-right: 5vw;
        font-weight: 100;
    }

    .social-network {
        margin: 0 1vw;
    }

    #facebook,
    #linkedin,
    #twitter {
        cursor: pointer;
        border-radius: 50%;
        transition: all 250ms;
    }

    #facebook:hover,
    #linkedin:hover,
    #twitter:hover {color: var(--purple);
    }
}